$brand:                 #206e8c !default;
$brand-light:           #6cb2d3 !default;
$brand-dark:            #495f70 !default;

$brand-alternative:     #e38000 !default;
    
$error:                 #ba122b !default;
$success:               forestgreen !default;
    
$white:                 #ffffff !default;
$black:                 #000000 !default;